.communities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: $font-size-basic;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
  }
  input {
    border: none;
    margin: 10px;
  }

  &-list {
    padding: 2vh;
    width: 50vw;
    .comunity {
      padding-top: 1vh;

      &-header {
        opacity: 0.8;
        font-weight: bold;
        text-align: left;
        color: $color-black;
        display: flex;
        flex-direction: row;
        h4 {
          font-size: $font-size-basic - 2px;
          font-weight: bold;
        }
        span {
          padding-left: 1vw;
          .iconFacebook {
            color: $color-facebook;
            margin: 5px;
          }
          .iconTwitter {
            color: $color-twitter;
            margin: 5px;
          }
          .iconMeetup {
            color: $color-meetUp;
            margin: 5px;
          }
        }
      }

      &-content {
        font-size: $font-size-basic - 4px;
        line-height: 1.5;
        text-align: left;
        color: $color-black;
      }
      &-footer {
        font-size: $font-size-basic - 4px;
        line-height: 1.5;
        text-align: left;
        color: $color-link;
      }
    }
  }
  &-seeMore {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    color: #4a4a4a;
    cursor: pointer;
    margin: 1%;
    padding: 2vh;
  }
}

@media (max-width: $screen-md) {
  .communities {
    h3 {
      font-size: $font-size-basic - 11px;
    }
  }
}

@media (max-width: $screen-sm) {
  .communities {
    h3 {
      font-size: $font-size-basic - 11px;
    }
  }
}

@media (max-width: $screen-xs) {
  .communities {
    h3 {
      font-size: $font-size-basic - 11px;
    }
  }
}
