.navbar {
  background: none;
  box-shadow: none;
  border: none;

  &-links {
    font-weight: 700;
    color: $color-black !important;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 200%;
    &--facebook {
      color: $color-facebook !important;
    }
    &--twitter {
      color: $color-twitter !important;
    }
  }
}
