@import 'variables';
@import 'navbar';
@import 'header';
@import 'aboutUs';
@import 'communities';
@import 'socialMedia';
@import 'footer';

body{
a{
	cursor:pointer;
}
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;

}
